.rang {
       padding: 0;
       margin: 0;
       background-color: red;
       color: rgb(196, 190, 190);
       text-align: center;
       font-family: system-ui;
       font-size: 2em;
       text-shadow: 0 0 12px rgb(196, 190, 190, 0.7);
}
